/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

/** end reset css**/
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background: #fffef8;
}

.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page main {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

.bold {
  font-weight: bold;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  display: inline-block;
}

#portfolio .title-container {
  position: relative;
  text-align: center;
  margin-top: 139px;
}

.hidden {
  display: none;
}

#showModalBtn {
  position: absolute;
  top: 6px;
  background: none;
  border: none;
  font-family: "Work Sans";
  font-size: 14px;
  color: #000;
  cursor: pointer;
  margin-left: 20px;
  /* display: none; */
}

#showModalBtn:hover {
  color: #b1663c;
  transition: color 0.25s ease-in-out;
}

#modal {
  border: none;
  border-radius: 10px;
  width: 590px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.modal-content {
  width: calc(100% - 40px);
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal:not([open]) {
  display: none;
}

#modal::backdrop {
  background: rgba(0, 0, 0, 0.3);
}

#closeBtnModal {
  border: none;
  background: none;
  align-self: flex-end;
  cursor: pointer;
}

#modal h3 {
  font-size: 26px;
  margin-top: 23px;
  margin-bottom: 45px;
}

#modal-gallery {
  width: 435px;
  margin-left: 3px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  margin-bottom: 37px;
}

#modal-gallery figure {
  position: relative;
}

#modal-gallery img {
  /* border: 1px dashed black; */
  height: 103px;
  width: 77px;
}

#modal-gallery button {
  position: absolute;
  top: 6px;
  right: 5px;
  height: 17px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: none;
  background: #000;
  cursor: pointer;
}

#modal-gallery button i {
  font-size: 10px;
  color: #fff;
}

#returnToGalleryBtn {
  position: absolute;
  top: 18px;
  left: 24px;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.dropzone {
  position: relative;
  top: -10px;
  height: 169px;
  width: 71.18%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background: #e8f1f6;
  border-radius: 10px;
}

.dropzone-content {
  /* background: #9ad7fd; */
  height: 137px;
  width: 44.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.dropzone-content i {
  margin-bottom: 6px;
  font-size: 4.8rem;
  color: #b9c5cc;
}

.custom-upload-btn {
  height: 36px;
  width: 100%;
  margin-bottom: 7px;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #306685;
  border: none;
  border-radius: 50px;
  background: #cbd6dc;
  cursor: pointer;
}

.custom-upload-btn:hover {
  color: #ececec;
  background-color: #454545;
  transition: 0.25s;
}

#modalDropZoneImageFormatSpan {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  color: #444444;
}

.imgInputDiv {
  height: 77px;
  width: 71.18%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgLabel {
  font-weight: 500;
}

.imgInput {
  height: 51px;
  padding: 0 1rem;
  border: none;
  background: #fff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

#imgCategoryInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/assets/icons/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  cursor: pointer;
}

#modal hr {
  height: 0;
  width: 72%;
  background: #b3b3b3;
  margin-top: 27px;
  margin-bottom: 38px;
}

#addImgBtnModal {
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  width: 40%;
  margin-bottom: 25px;
  border: none;
  border-radius: 60px;
  background: #1d6154;
  color: #fff;
  cursor: pointer;
}

#addImgBtnModal:hover {
  background-color: #2e9784;
  transition: background 0.25s ease-in-out;
}

#validImgBtn {
  position: relative;
  top: -6px;
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 36px;
  width: 40%;
  margin-bottom: 25px;
  border: none;
  border-radius: 60px;
  background: #a7a7a7;
  color: #fff;
  cursor: pointer;
}

#validImgBtn:hover {
  background-color: #454545;
  transition: background 0.25s ease-in-out;
}

#api-error {
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  color: red;
}

.filters {
  margin-top: 21px;
  margin-bottom: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-btn {
  padding: 9px 30px;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0%;
  text-align: center;
  color: #1d6154;
  background-color: transparent;
  border: 1px solid #1d6154;
  border-radius: 60px;
  cursor: pointer;
}

.filter-btn:hover {
  color: #fff;
  background: #1d6154;
  transition: background 0.2s ease-in-out;
}

.filter-btn-active {
  color: #fff;
  background: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#login {
  position: relative;
  width: 33.33%;
  margin-top: 100px;
  justify-self: center;
}

#loginMessage {
  position: absolute;
  color: #ed3500;
}

#contact {
  width: 50%;
  margin: auto;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 20px;
}

#login h2 {
  margin-bottom: 10px;
}

#contact form,
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#login form {
  margin-top: 0;
}

#contact input,
#login input {
  height: 50px;
  padding: 0 1em;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
  margin: 2em 0 1em 0;
}

#login label {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

#login input[type="submit"] {
  margin-top: 37px;
  margin-bottom: 28px;
}

input[type="submit"]:hover {
  background-color: #2e9784;
  transition: background 0.25s ease-in-out;
}

form a {
  text-decoration: underline;
  text-align: center;
}

footer {
  background-color: white;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding: 2em 0;
  box-sizing: border-box;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0 7.43%;
  margin: 0 auto;
}

.login-page footer {
  margin-top: auto;
}
